@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

:root {
  background-color: #ffffff;
}

body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

.box {
  background-color: #ffffff;
  border: 1px solid #cfcdcd;
  width: 30rem;
  margin: 0 auto;
  padding: 2rem 2rem;
  box-shadow: 0 1px 1px 0 rgba(0 0 0 / 0.1);
  margin-top: 2rem;
}

.control-wrapper {
  padding: 0.5rem 0;
}

.half {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

.triplet {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
}

.quarter {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1rem;
}

.double-span {
  grid-column: 3/5;
}

.control {
  width: 100%;
  border: 1px solid #cfcdcd;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #666666;
  background-color: #f7f7f7;
}

.heading {
  color: #4767c7;
  font-size: 30px;
  padding-bottom: 2rem;
  display: flex;
  align-items: flex-end;
  white-space: nowrap;
}

.btn {
  padding: 0.6rem 1rem;
  font-size: 1rem;
  width: 100%;
  font-weight: 800;
  margin-top: 1rem;
}

.btn-blue {
  background-color: #4767c7;
  color: #ffffff;
}

.error {
  list-style: none;
  color: #a72e2e;
  font-size: 0.9rem;
}

.error ul {
  list-style: none;
}

.error-element {
  border: 1px solid #a72e2e;
}

.header-box {
  box-shadow: 0 1px 1px 0 rgba(0 0 0 / 0.05);
  background-color: #ffffff;
  padding: 0.75rem 2rem;
  border-bottom: 1px solid #cfcdcd;
  width: 100%;
}

.bar * {
  color: #4767c7;
  font-weight: bold;
  font-size: 1.1rem;
  background: transparent;
}

.flex-wrapper {
  display: flex;
  justify-content: flex-end;
}

.flex-wrapper button {
  cursor: pointer;
}

.flex-wrapper span {
  margin: 0 0.3rem;
}
